* {
    box-sizing: border-box;
}
 
body {
    display: flex;
    flex-direction: column;
    border: 10px solid greenyellow;
    min-height: 100vh;
}

.main {
    flex-grow: 1;
}

.header, .main, .footer {
    border: 4px solid hotpink;
}

.header, #hero, .footer {
    background-color: #1f2937;
}

#quote {
    background-color: #e5e7eb;
}

.inner-col {
    display: block;
    border: 4px solid cyan;
    padding: 10px;
}