* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

.hero, 
.footer {
    color: #E5E7EB;
    background-color: #1F2937;
}

.hero .header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.hero h2 {
    font-size: 24px;
    color: #F9FAF8;
    
}

.nav-list {
    font-size: 18px;
    display: flex;
    list-style: none;
    gap: 15px;
}

.footer {
    padding: 30px;
    text-align: center;
}

.content {
    padding: 20px 200px 20px 200px;
}

.main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.header2{
    display: flex;
    padding: 120px 0 120px 0;
    /* border: dashed greenyellow; */
    gap: 15px;
}

.button-space {
    display: flex;
    /* border: dashed red; */
}

.button {
    background-color: #3882F6;
    border-radius: 10px;
    padding: 10px;
    flex: 0.15;
    width: 100%;
    height: 100%;
    text-align: center;
}

.header-text{
    display: flex;
    flex: 1;
    flex-direction: column;
    /* border: dashed pink; */
    gap: 20px;
}

.image {
    background-color: gray;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}