.page {
    display: flex;
    flex-direction: column;
}
  
.header, .hero, .footer {
    background-color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
}

.page div { 
    border: pink;
    height: 80px;
    flex: 1 1 auto;
}